@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(97, 97, 235);
    height: 9vh;
    /* width: auto; */
    display: flex;
    justify-content: flex-start;
    text-align: center;
    position: fixed;
}

nav{
    width: 100vw;
    display: flex;
}

.logo img {
    width: 100px;
    height: 29px;
    padding: 20px 27px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: 25px;
}

nav ul li {
    list-style: none;
    padding: 0 24px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search_bar {
    padding: 18px 23px;
    width: 123px;
}

.search_bar input {
    width: 26vw;
    height: 30px;
    border-radius: 5px;
    padding: 0px 23px;
}


.search_img {
    width: 4px;
}

.search_img img {
    height: 28px;
    padding: 23px 276px;
}

.btn {
    display: inline-flex;
    margin: 4px 245px;
    /* width: 23px; */
}

.bttn {
    width: 55px;
    height: 25px;
    background-color: rgb(97, 97, 235);
    color: white;
    border-radius: 5px;
    margin: 20px 67px;
}

.login_btn {
    width: 96px;
    height: 28px;
    background-color: rgb(97, 97, 235);
    color: white;
    border-radius: 5px;
    margin: 20px -200px;
}