@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(97, 97, 235);
    position: fixed;
}

nav{
    width: 100vw;
    height: 10vh;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 88px;
    padding: 0px 25px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding: 24px 0px 0px 0px;
}

nav ul li {
    list-style: none;
    padding: 0 24px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search_bar {
    display: flex;
    align-items: center;
}

.search_bar input {
    width: 26vw;
    height: 30px;
    border-radius: 5px;
    margin: 0 6px;
    padding: 0px 12px;
}


.search_bar button{
    background-color: rgb(97, 97, 235);
    border-radius: 5px;
    color: white;
    width: 55px;
    /* width: 23px; */
}

