@media only screen and (max-width: 1000px) {
    nav{
        flex-direction: column;
        height: 20vh;
    }

    .slider{
        padding: 60px 0px 0px 0px;
    }

    .slider img{
        height: 60vh;
        width: 90vw;
    }
    .logo
    {
        justify-content: center;
        margin: 12px 0px;
    }
    nav ul
    {
        justify-content: center;
        padding: 3px 0px 0px 0px;
    }
    .search_bar
    {
        justify-content: center;
    }
    .search_bar input{
        margin: 12px 16px;
        width: 50vw;
    }
}