@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(97, 97, 235);
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    padding: 0 45px;
}

.logo img {
    width: 100px;
    height: 29px;
    padding: 20px 0;
}

nav ul {
    display: flex;
    margin: 25px;
}

nav ul li {
    list-style: none;
    padding: 0 24px;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto Slab', serif;
}

nav ul li a:hover {
    font-weight: bolder;

}

.search_bar {
    padding: 17px 0;
}

.search_b {
    width: 422px;
    height: 30px;
    border-radius: 5px;
    padding: 0 4px;
}

.search_img img {
    margin: 23px -24px;
    height: 25px;
}

.btn {
    margin: 23px 10px;
}

.bttn {
    width: 55px;
    height: 25px;
    background-color: rgb(97, 97, 235);
    color: white;
    border-radius: 5px;
}


.container {
    min-height: calc(100vh - 9vh - 58px)
}

footer {
    background-color: rgb(97, 97, 235);
    height: 58px;
    display: flex;
    justify-content: center;
}

.cpright {
    padding: 14px;
    margin: 3px;
}